@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    
    background: #999d9e63;;
}

*{
    margin: 0;
    padding: 0;
    
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.sidebar{
    position: fixed;
    left: 0;
    width: 275px;
    height: 100%;
    background-color: #0C2556;
    
    
}
.sidebar header{
    font-size: 30px;
    color: #5A75F8;
    text-align: left;
    margin-left: 40px;
    line-height: 70px;
    background: #0C2556;
    user-select: none;
    margin-top: 25px;
}
.sidebar ul{
    margin-top: 50px;
}

.sidebar ul a{
    margin-top: 20px;
    display: block;
   
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
   
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}
.search-bar{
    position: absolute;
      width: 80%;
      height: 75px;
      left: 310px;
      top: 25px;

      background: #FFFFFF;
      border-radius: 5px;
  }
  
  .search-bar a{
      text-align: right;
  }
  
  .search {
      width: 100%;
      position: relative;
      display: flex;
    }
    
    .searchTerm {
      width: 100%;
      border: 3px solid #5A75F8;
      border-right: none;
      padding: 5px;
      height: 35px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }
    
    .searchTerm:focus{
      color: #5A75F8;
    }
    
    .searchButton {
      width: 50px;
      height: 50px;
      border: 1px solid #5A75F8;
      background: #5A75F8;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 40%;
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
    }
    .icons{
      position: absolute;
    left:95%;
    top:20px;
      
      
      }
  
    .icons a i{
      width: 40px;
      height: 40px;
      font-size: 35px;
      padding: none;
      margin-left: 10px;
      
      text-align: center;
      color: #5A75F8;
    }